@model IEnumerable<WebApplication3.Models.Reward>
@inject WebApplication3.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Управление наградами";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="AddReward">Создать новую</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Баллы</th>
            <th>Ребенок</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reward in Model)
        {
            <tr>
                <td>@reward.Name</td>
                <td>@reward.Points</td>
                <td>
                    @{
                        var child = _context.Children.FirstOrDefault(c => c.Id == reward.ChildId);
                        @child?.Name
                    }
                </td>
                <td><a href="@Url.Action("EditReward", new { id = reward.Id })">Редактировать</a></td>
            </tr>
        }
    </tbody>
</table>
