<div class="text-center">
    <h1 class="display-4">Welcome to the Task Manager!</h1>
    <p><a href="@Url.Action("Edit", "Account")">Edit Profile</a></p>

    <p>
        <a asp-controller="Tasks" asp-action="Index">Go to Tasks</a>
    </p>

    @if (ViewBag.UserRole == "Child")
    {
        <p><a asp-controller="Rewards" asp-action="ChildRewards">View My Rewards</a></p>
    }

    @if (ViewBag.UserRole == "Parent")
    {
        <p><a asp-controller="Rewards" asp-action="ManageRewards">Manage Children's Rewards</a></p>
    }

    @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        <button type="submit" class="btn btn-link">Logout</button>
    }

    @if (ViewBag.Children != null && ViewBag.Children.Count > 0)
    {
        <h2>Your Children</h2>
        <ul>
            @foreach (var child in ViewBag.Children)
            {
                <li><a asp-controller="Tasks" asp-action="Index" asp-route-childId="@child.Id">@child.Name</a></li>
            }
        </ul>
    }
    else
    {
        @if (ViewBag.UserRole == "Parent")
        {
            <p>No children found.</p>
        }
    }
</div>
