@model WebApplication3.Models.Task

<h2>Редактировать задачу</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />



    <div>
        <label for="Description">Описание</label>
        <textarea id="Description" asp-for="Description" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div>
        <label for="Points">Награда (баллы)</label>
        <input type="number" id="Points" asp-for="Points" min="1" required>
        <span asp-validation-for="Points" class="text-danger"></span>
    </div>

    <div>
        <label for="ChildId">Ребенок</label>
        <select id="ChildId" asp-for="ChildId" asp-items="@(new SelectList(ViewBag.Children, "Id", "Name", Model.ChildId))" required>
            <option value="">Выберите ребенка</option>
        </select>
        <span asp-validation-for="ChildId" class="text-danger"></span>
    </div>


    <button type="submit">Сохранить изменения</button>
</form>

<a href="/Tasks/Index">Вернуться к списку</a>